n8n/workflows/search_workflow.json
{
  "name": "Kasbokarr - Search Businesses",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {"path": "search", "responseMode": "responseNode", "options": {}}
    },
    {
      "id": "2",
      "name": "Parse Query",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 300],
      "parameters": {"assignments": {"assignments": [{"id": "q1", "name": "query", "value": "={{ $json.body.query }}", "type": "string"}, {"id": "q2", "name": "max_results", "value": "={{ $json.body.max_results || 100 }}", "type": "number"}]}, "options": {}}
    },
    {
      "id": "3",
      "name": "OSM Nominatim",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 200],
      "parameters": {"url": "https://nominatim.openstreetmap.org/search", "method": "GET", "sendQuery": true, "queryParameters": {"parameters": [{"name": "q", "value": "={{ $json.query }}"}, {"name": "format", "value": "json"}, {"name": "limit", "value": "50"}, {"name": "addressdetails", "value": "1"}, {"name": "extratags", "value": "1"}, {"name": "namedetails", "value": "1"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "User-Agent", "value": "KasbokarrBot/1.0 (contact@example.com)"}]}, "options": {}}
    },
    {
      "id": "4",
      "name": "Overpass API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 400],
      "parameters": {"url": "https://overpass-api.de/api/interpreter", "method": "POST", "sendBody": true, "specifyBody": "string", "body": "={{ '[out:json][timeout:25];area[name=\"' + $json.query.split(' in ')[1] + '\"]->.a;(node[\"amenity\"](area.a);way[\"amenity\"](area.a););out body;>;out skel qt;' }}", "options": {}}
    },
    {
      "id": "5",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [800, 300],
      "parameters": {"mode": "combine", "combinationMode": "mergeByPosition", "options": {}}
    },
    {
      "id": "6",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {"jsCode": "\nconst results = [];\nconst seen = new Set();\nfor (const item of $input.all()) {\n  const d = item.json;\n  const name = (d.display_name || d.name || d.tags && d.tags.name || \"\").split(\",\")[0].trim();\n  if (!name) continue;\n  const addr = d.display_name || \"\";\n  const key = name.toLowerCase() + \"|\" + addr.toLowerCase().slice(0, 40);\n  if (seen.has(key)) continue;\n  seen.add(key);\n  const tags = d.tags || d.extratags || {};\n  results.push({\n    name,\n    category: d.type || d.class || tags.amenity || tags.shop || \"\",\n    address: addr,\n    city: (d.address && (d.address.city || d.address.town || d.address.village)) || \"\",\n    province: (d.address && d.address.state) || \"\",\n    website: tags.website || tags[\"contact:website\"] || \"\",\n    phone: tags.phone || tags[\"contact:phone\"] || \"\",\n    rating: \"\",\n    latitude: d.lat || (d.center && d.center.lat) || \"\",\n    longitude: d.lon || (d.center && d.center.lon) || \"\",\n    source: \"osm\"\n  });\n}\nreturn [{json: {results, total: results.length}}];\n"}
    },
    {
      "id": "7",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 300],
      "parameters": {"respondWith": "json", "responseBody": "={{ $json }}", "options": {}}
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Parse Query", "type": "main", "index": 0}]]},
    "Parse Query": {"main": [[{"node": "OSM Nominatim", "type": "main", "index": 0}, {"node": "Overpass API", "type": "main", "index": 0}]]},
    "OSM Nominatim": {"main": [[{"node": "Merge", "type": "main", "index": 0}]]},
    "Overpass API": {"main": [[{"node": "Merge", "type": "main", "index": 1}]]},
    "Merge": {"main": [[{"node": "Normalize", "type": "main", "index": 0}]]},
    "Normalize": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}