n8n/workflows/search_workflow.json
{
  "name": "Kasbokarr - Search Businesses",
  "active": true,
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {"path": "search", "responseMode": "responseNode", "options": {}},
      "webhookId": "kasbokarr-search"
    },
    {
      "id": "node-parse",
      "name": "Parse Query",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300],
      "parameters": {"assignments": {"assignments": [{"id": "a1", "name": "query", "value": "={{ $json.body.query }}", "type": "string"}, {"id": "a2", "name": "max_results", "value": "={{ $json.body.max_results || 100 }}", "type": "number"}]}, "options": {}}
    },
    {
      "id": "node-osm",
      "name": "OSM Nominatim",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 180],
      "parameters": {"url": "https://nominatim.openstreetmap.org/search", "method": "GET", "sendQuery": true, "queryParameters": {"parameters": [{"name": "q", "value": "={{ $json.query }}"}, {"name": "format", "value": "json"}, {"name": "limit", "value": "50"}, {"name": "addressdetails", "value": "1"}, {"name": "extratags", "value": "1"}, {"name": "namedetails", "value": "1"}]}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "User-Agent", "value": "KasbokarrBot/1.0"}]}, "options": {"response": {"response": {"neverError": true}}}}
    },
    {
      "id": "node-overpass",
      "name": "Overpass API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 420],
      "parameters": {"url": "https://overpass-api.de/api/interpreter", "method": "POST", "sendBody": true, "specifyBody": "string", "body": "={{ '[out:json][timeout:25];area[name=\"' + $json.query.split(' in ')[1] + '\"]->.a;(node[\"amenity\"](area.a);way[\"amenity\"](area.a);node[\"shop\"](area.a););out body;
>;out skel qt;' }}", "options": {"response": {"response": {"neverError": true}}}}
    },
    {
      "id": "node-merge",
      "name": "Merge Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [860, 300],
      "parameters": {"mode": "combine", "combinationMode": "mergeByPosition", "options": {}}
    },
    {
      "id": "node-normalize",
      "name": "Normalize & Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300],
      "parameters": {"jsCode": "\nconst results = [];\nconst seen = new Set();\n\nfunction normalizePhone(p) {\n  if (!p) return '';\n  const d = p.replace(/[^\\d]/g, '');\n  if (d.length === 11 && d.startsWith('0')) return '+98' + d.slice(1);\n  if (d.length === 10) return '+98' + d;\n  if (d.length === 12 && d.startsWith('98')) return '+' + d;\n  return p;\n}\n\nfor (const item of $input.all()) {\n  const d = item.json;\n  const tags = d.tags || d.extratags || {};\n\n  if (d.display_name) {\n    const name = (d.namedetails && (d.namedetails['name:fa'] || d.namedetails.name)) ||\n                 d.display_name.split(',')[0].trim();\n    if (!name) continue;\n    const key = name.toLowerCase() + '|' + (d.lat || '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    results.push({\n      name,\n      category: d.type || d.class || tags.amenity || tags.shop || '',\n      address: d.display_name || '',\n      city: (d.address && (d.address.city || d.address.town || d.address.village)) || '',\n      province: (d.address && d.address.state) || '',\n      website: tags.website || tags['contact:website'] || '',\n      phone: normalizePhone(tags.phone || tags['contact:phone'] || ''),\n      rating: '',\n      latitude: d.lat || '',\n      longitude: d.lon || '',\n      source: 'osm-nominatim'\n    });\n  } else if (d.type === 'node' || d.type === 'way') {\n    const name = tags['name:fa'] || tags.name || '';\n    if (!name) continue;\n    const lat = d.lat || (d.center && d.center.lat) || '';\n    const key = name.toLowerCase() + '|' + lat;\n    if (seen.has(key)) continue;\n    seen.add(key);\n    results.push({\n      name,\n      category: tags.amenity || tags.shop || tags.tourism || '',\n      address: [tags['addr:street'], tags['addr:housenumber'], tags['addr:city']].filter(Boolean).join(', '),\n      city: tags['addr:city'] || '',\n      province: tags['addr:province'] || '',\n      website: tags.website || tags['contact:website'] || '',\n      phone: normalizePhone(tags.phone || tags['contact:phone'] || ''),\n      rating: '',\n      latitude: lat,\n      longitude: d.lon || (d.center && d.center.lon) || '',\n      source: 'overpass'\n    });\n  }\n}\n\nreturn [{ json: { results, total: results.length } }];\n"}
    },
    {
      "id": "node-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1300, 300],
      "parameters": {"respondWith": "json", "responseBody": "={{ $json }}", "options": {}}
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Parse Query", "type": "main", "index": 0}]]},
    "Parse Query": {"main": [[{"node": "OSM Nominatim", "type": "main", "index": 0}, {"node": "Overpass API", "type": "main", "index": 0}]]},
    "OSM Nominatim": {"main": [[{"node": "Merge Sources", "type": "main", "index": 0}]]},
    "Overpass API": {"main": [[{"node": "Merge Sources", "type": "main", "index": 1}]]},
    "Merge Sources": {"main": [[{"node": "Normalize & Deduplicate", "type": "main", "index": 0}]]},
    "Normalize & Deduplicate": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}